* {
  font-family: Georgia;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #48D1CC;
  transition: 0.5s;
}

a:hover {
  color: #4682B4;
}
